{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eGarage</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>

    <!-- HEADER SWITCH -->
    {% if request.user.is_authenticated %}
        
        {% if request.user.role == "admin" %}
            {% include "components/header_admin.html" %}

        {% comment %} {% elif request.user.role == "service_provider" %}
            {% include "components/header_provider.html" %}

        {% else %}
            {% include "components/header_user.html" %}
        {% endif %} {% endcomment %}

    {% endif %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- FOOTER SWITCH -->
    {% comment %} {% if request.user.is_authenticated %}
        
        {% if request.user.role == "admin" %}
            {% include "components/footer_admin.html" %}

        {% elif request.user.role == "provider" %}
            {% include "components/footer_provider.html" %}

        {% else %}
            {% include "components/footer_user.html" %}
        {% endif %}

    {% endif %} {% endcomment %}

</body>
</html>